@font-face {
    font-family: 'NotoSans-Italic';
    src: url(/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf) format("truetype");
}

@font-face {
    font-family: 'NotoSans';
    src: url(/fonts/NotoSans-VariableFont_wdth,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSans, sans-serif;
    transition: background-color 200ms ease-in-out;
}

p {
    color: var(--secondary-color)
}

h1,h2,h3,h4,h5,h6 {
    color: var(--primary-color);
}

.button {
    padding: 0.5rem;
    background-color: var(--foreground-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    border: 1px solid var(--hover-color);
    cursor: pointer;
}

.focus:focus {
    border: 1px solid var(--danger-color);
}

:root {
    --border-radius: 1rem;
    --danger-color: #E0473F;
    --primary-color: #09163E;
    --secondary-color: #56565F;
    --hover-color: #C6CAD5;
    --background-color: #EBF2FC;
    --foreground-color: #FCFDFF;
    --softer-color: #EEEEEE;
    --softer-hover-color: #C6C6C4;
    --background: linear-gradient(180deg,rgba(235, 242, 252, 1) 0%, rgba(239, 251, 249, 1) 100%);

}

[data-theme="dark"] {
    --primary-color: #F4F9FC;
    --secondary-color: #C6CAD5;
    --hover-color: #56565F;
    --background-color: #EBF2FC;
    --foreground-color: #1F2535;
    --softer-color: #2F354B;
    --softer-hover-color: #525868;
;    --background: linear-gradient(180deg,rgba(5, 10, 29, 1) 0%, rgba(10, 22, 64, 1) 100%);
}

